# Server
PORT=5000
NODE_ENV=development
MONGODB_URI=your-db-uri

# JWT
JWT_SECRET=your-jwt-secret-key
JWT_REFRESH_SECRET=your-jwt-secret-refresh-key

# Email (Nodemailer + Gmail)
GMAIL_HOST=your-smtp-host
GMAIL_PORT=587
GMAIL_USER=your-gmail-account
GMAIL_APP_PASSWORD=-your-app-password

# AI Services
GROQ_API_KEY=your-groq-api-key

# Weather
WEATHER_API_KEY=your-weatherapi-key
WEATHER_API_URL=your-weather-api-uri